<app-modal *ngIf="isModalOpen" [title]="isNew ? 'Crear Supermercado' : 'Editar Supermercado'" [supermercadoEdit]="supermercadoEdit" (closeModal)="closeModal()" (saveChanges)="submitForm($event)">
</app-modal>

<!-- Contenido del header Dashboard -->
<div class="header-section">
  <div class="header-container">
    <div class="search-container">
      <input type="text" placeholder="Buscar supermercado..." [(ngModel)]="searchTerm" (input)="filterSupermercados()" class="search-input">
      <button class="search-button">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <div class="header-container">
    <app-ciudades (cityChange)="onCityChange($event)"></app-ciudades>
    <button (click)="openNewModal()" class="btn add-btn">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>

<!-- Listado de Supermercados -->
<div *ngFor="let supermercado of filteredSupermercados | paginate: { itemsPerPage: 6, currentPage: page }" class="row-sesion shadow">
  <img *ngIf="supermercado.Logo" [src]="supermercado.Logo ? 'http://127.0.0.1:8000/storage/' + supermercado.Logo : ''" alt="{{ supermercado.Nombre }} Logo">
  <div class="info-container">
    <div class="info">
      Nombre<br />
      <span>{{ supermercado.Nombre }}</span>
    </div>
  </div>
  <div class="info-container">
    <div class="info">
      NIT<br />
      <span>{{ supermercado.NIT }}</span>
    </div>
  </div>
  <div class="info-container">
    <div class="info">
      Dirección<br />
      <span>{{ supermercado.Direccion }}</span>
    </div>
  </div>
  <div class="info-container">
    <div class="info">
      Ciudad<br />
      <span>{{ supermercado.ciudad.Nombre }}</span>
    </div>
  </div>
  <div class="info-container">
    <div class="info">
      Longitud<br />
      <span>{{ supermercado.Longitud }}</span>
    </div>
  </div>
  <div class="info-container">
    <div class="info">
      Latitud<br />
      <span>{{ supermercado.Latitud }}</span>
    </div>
  </div>
  <div class="icon-container">
    <i class="fas fa-edit" (click)="openEditModal(supermercado)"></i>
    <i class="fas fa-trash" (click)="deleteSupermercado(supermercado)"></i>
  </div>
</div>

<pagination-controls (pageChange)="page = $event"></pagination-controls>