
.register-container {
  display: flex;
  height: 91.5vh;
  max-width: 958px;
  width: 100%;
  margin: auto;
  padding: 20px;
  justify-content: center;
  align-items: center; /* Alinea verticalmente el contenedor */
  background-color: #ffffff; /* Fondo blanco */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Sombra más notable */
  border-radius: 10px; /* Bordes redondeados */
}

.left-panel {
  flex: 1;
  max-width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px 0 0 10px; /* Bordes redondeados a la izquierda */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente los elementos */
}

.left-panel .form-group {
  margin-bottom: 15px;
}

.left-panel .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333333; /* Color del texto del label */
}

.left-panel .form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out; /* Transición suave para el borde */
}

.left-panel .form-group input:focus {
  outline: none;
  border-color: #007bff; /* Color del borde al enfocar el input */
}

.right-panel {
  flex: 1;
  display: flex;
  justify-content: center; /* Alinea la imagen a la derecha */
  align-items: center; /* Centra verticalmente la imagen */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para resaltar el contenedor */
  border: 1px solid #ccc;
  border-radius: 0 10px 10px 0; /* Bordes redondeados a la derecha */
}

.right-panel img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out; /* Transición suave para el color de fondo del botón */
}

button:hover {
  background-color: #218838;
}

.login-link {
  text-align: center;
  margin-top: 15px;
}

.login-text {
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s ease-in-out; /* Transición suave para el color del texto */
}

.login-text:hover {
  text-decoration: underline;
  color: #0056b3; /* Color del texto al pasar el mouse */
}